[submodule "blocks"]
	path = lib/blocks
	url = https://github.com/shickey/scratch-blocks.git
[submodule "vm"]
	path = lib/vm
	url = https://github.com/shickey/scratch-vm.git
[submodule "render"]
	path = lib/render
	url = https://github.com/shickey/scratch-render
[submodule "storage"]
	path = lib/storage
	url = https://github.com/shickey/scratch-storage
[submodule "svg-renderer"]
	path = lib/svg-renderer
	url = https://github.com/LLK/scratch-svg-renderer
[submodule "Server-Scratch/scratch-gui"]
	path = Server-Scratch/scratch-gui
	url = https://github.com/khanning/scratch-gui
	branch = art-of-tinkering
[submodule "Server-Scratch/scratch-vm"]
	path = Server-Scratch/scratch-vm
	url = https://github.com/khanning/scratch-vm
	branch = art-of-tinkering
[submodule "Server-Scratch/scratch-render"]
	path = Server-Scratch/scratch-render
	url = https://github.com/khanning/scratch-render
	branch = art-of-tinkering
