.App {
  text-align: center;
}

.App-header {
  background-color: #d5b8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.console-container {
  width: 80%;
  background-color: white;
  border: 1px solid black;
  height: 200px;
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.log-console {
  width: 100%;
  background-color: white;
  text-align: left;
  font-size: .7em;
  color: black;
}

.log-console tr {
  max-height: 10px;
}

.log-console td {
}

.running {
  color: green;
}

.stopped {
  color: red;
}
