/**
 * Global
 */
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #334771;
    height: 100vh;
}

#project-gallery {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #334771;
}

#new-project-modal {
  /* display: none; */
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #1e2a3f;
}

#new-project-modal #canvas {
  display: none;
}

#stage-container {
  display: flex;
  height: 35vh;
  justify-content: center;
  align-items: center;
  background-color: #1e2a3f;
}

#stage {
  background-color: #000;
  height: 100%;
  width: calc(35vh * 4 / 3);
  margin: auto;
}

#app-controls {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 60px;
  height 60px;
  padding: 10px 0 10px 10px;
}

#presentation-controls {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 60px;
  height: 200px;
  text-align: right;
  padding: 10px 10px 10px 0;
}

.control-button {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #4d6ba8;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

.control-button:active {
  background-color: #334771;
}

.control-button img {
  padding: 7px 0;
}

#new-project-modal-container {
  position: relative;
  width: 550px;
  margin: 0 auto;
}

#canvas-tools {
  position: absolute;
  width: 75px;
  margin-top: 40px;
}

#canvas-tools button {
  margin: 5px 0;
  width: 60px;
}

#canvas-controls {
  display: inline-block;
  width: 400px;
  text-align: center;
}

#canvas-controls-content {
  display: inline-block;
  margin: 0 auto;
}

#upload-button {
  margin-top: 30px !important;
}

#blocks-container {
  height: 65vh;
}

#ip-field {
  width: 100px;
  float: right;
  font-size: 0.6em;
  background-color: #334771;
  border: 1px dashed black;
  border-radius: 5px;
  margin: 10px 0;
}

#ip-field:focus {
  width: 200px;
  background-color: white;
  font-size: 1.2em;
}

.blocklyMainBackground {
  stroke: none;
}

.scratchCategoryMenu {
    width: 64px;
    background-color: #1e2a3f;
    color: white;
}

.scratchCategoryMenuItem.categorySelected {
    background-color: #2a3b5c;
}

.blocklyToolboxDiv {
    background-color: #1e2a3f;
}

.blocklyScrollbarHorizontal {
    display: none !important;
}

.blocklyScrollbarVertical {
    display: none !important;
}
